/*公共页面-首页*/
*{margin:0;padding:0}
ul li{list-style:none;}
body{background:#ffe;font-family:Microsoft Yahei,helvetica;}
.noSupportMsg{position:absolute;text-align:center;width:100%;font-size:24px;top:100px;left:0px;}
#main{position:relative;overflow:hidden;}
#content{position:absolute;top:0;}
.page{position:relative;width:100%;height:100%;background-size:100% 100%;overflow:hidden;}
#page1{
background: -moz-linear-gradient(top, rgba(153,199,239,0.72) 0%, rgba(84,163,238,0.73) 55%, rgba(23,141,232,0.73) 77%, rgba(20,100,229,0.73) 92%, rgba(0,49,229,0.73) 99%, rgba(0,49,229,0.73) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,199,239,0.72)), color-stop(55%,rgba(84,163,238,0.73)), color-stop(77%,rgba(23,141,232,0.73)), color-stop(92%,rgba(20,100,229,0.73)), color-stop(99%,rgba(0,49,229,0.73)), color-stop(100%,rgba(0,49,229,0.73))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(153,199,239,0.72) 0%,rgba(84,163,238,0.73) 55%,rgba(23,141,232,0.73) 77%,rgba(20,100,229,0.73) 92%,rgba(0,49,229,0.73) 99%,rgba(0,49,229,0.73) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b899c7ef', endColorstr='#ba0031e5',GradientType=0 ); /* IE6-9 */
}
#page2{
background: rgb(180,227,145); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#page3{background:rgb(243,226,199);/* Old browsers */
background:-moz-linear-gradient(top,rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 100%,rgba(233,212,179,1) 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(243,226,199,1)),color-stop(50%,rgba(193,158,103,1)),color-stop(100%,rgba(182,141,76,1)),color-stop(100%,rgba(233,212,179,1)));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 100%,rgba(233,212,179,1) 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 100%,rgba(233,212,179,1) 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 100%,rgba(233,212,179,1) 100%);/* IE10+ */
background:linear-gradient(to bottom,rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 100%,rgba(233,212,179,1) 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7',endColorstr='#e9d4b3',GradientType=0 );/* IE6-9 */
}
#page4{
background: rgb(206,220,231); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#page5{
background:rgb(183,222,237);/* Old browsers */
background:-moz-radial-gradient(center,ellipse cover,rgba(183,222,237,1) 0%,rgba(33,180,226,1) 20%,rgba(113,206,239,1) 50%,rgba(183,222,237,1) 100%);/* FF3.6+ */
background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(183,222,237,1)),color-stop(20%,rgba(33,180,226,1)),color-stop(50%,rgba(113,206,239,1)),color-stop(100%,rgba(183,222,237,1)));/* Chrome,Safari4+ */
background:-webkit-radial-gradient(center,ellipse cover,rgba(183,222,237,1) 0%,rgba(33,180,226,1) 20%,rgba(113,206,239,1) 50%,rgba(183,222,237,1) 100%);/* Chrome10+,Safari5.1+ */
background:-o-radial-gradient(center,ellipse cover,rgba(183,222,237,1) 0%,rgba(33,180,226,1) 20%,rgba(113,206,239,1) 50%,rgba(183,222,237,1) 100%);/* Opera 12+ */
background:-ms-radial-gradient(center,ellipse cover,rgba(183,222,237,1) 0%,rgba(33,180,226,1) 20%,rgba(113,206,239,1) 50%,rgba(183,222,237,1) 100%);/* IE10+ */
background:radial-gradient(ellipse at center,rgba(183,222,237,1) 0%,rgba(33,180,226,1) 20%,rgba(113,206,239,1) 50%,rgba(183,222,237,1) 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed',endColorstr='#b7deed',GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
#page6{background:rgb(197,222,234);/* Old browsers */
background:-moz-radial-gradient(center,ellipse cover,rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);/* FF3.6+ */
background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(197,222,234,1)),color-stop(31%,rgba(138,187,215,1)),color-stop(100%,rgba(6,109,171,1)));/* Chrome,Safari4+ */
background:-webkit-radial-gradient(center,ellipse cover,rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);/* Chrome10+,Safari5.1+ */
background:-o-radial-gradient(center,ellipse cover,rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);/* Opera 12+ */
background:-ms-radial-gradient(center,ellipse cover,rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);/* IE10+ */
background:radial-gradient(ellipse at center,rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea',endColorstr='#066dab',GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
#page7{background:rgb(252,234,187);/* Old browsers */
background:-moz-radial-gradient(center,ellipse cover,rgba(252,234,187,1) 0%,rgba(248,181,0,1) 20%,rgba(252,205,77,1) 81%,rgba(251,223,147,1) 100%);/* FF3.6+ */
background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(252,234,187,1)),color-stop(20%,rgba(248,181,0,1)),color-stop(81%,rgba(252,205,77,1)),color-stop(100%,rgba(251,223,147,1)));/* Chrome,Safari4+ */
background:-webkit-radial-gradient(center,ellipse cover,rgba(252,234,187,1) 0%,rgba(248,181,0,1) 20%,rgba(252,205,77,1) 81%,rgba(251,223,147,1) 100%);/* Chrome10+,Safari5.1+ */
background:-o-radial-gradient(center,ellipse cover,rgba(252,234,187,1) 0%,rgba(248,181,0,1) 20%,rgba(252,205,77,1) 81%,rgba(251,223,147,1) 100%);/* Opera 12+ */
background:-ms-radial-gradient(center,ellipse cover,rgba(252,234,187,1) 0%,rgba(248,181,0,1) 20%,rgba(252,205,77,1) 81%,rgba(251,223,147,1) 100%);/* IE10+ */
background:radial-gradient(ellipse at center,rgba(252,234,187,1) 0%,rgba(248,181,0,1) 20%,rgba(252,205,77,1) 81%,rgba(251,223,147,1) 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb',endColorstr='#fbdf93',GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
#page8{background:rgb(229,112,231);/* Old browsers */
background:-moz-radial-gradient(center,ellipse cover,rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);/* FF3.6+ */
background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(229,112,231,1)),color-stop(47%,rgba(200,94,199,1)),color-stop(100%,rgba(168,73,163,1)));/* Chrome,Safari4+ */
background:-webkit-radial-gradient(center,ellipse cover,rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);/* Chrome10+,Safari5.1+ */
background:-o-radial-gradient(center,ellipse cover,rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);/* Opera 12+ */
background:-ms-radial-gradient(center,ellipse cover,rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);/* IE10+ */
background:radial-gradient(ellipse at center,rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7',endColorstr='#a849a3',GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
#page9{background:rgb(252,236,252);/* Old browsers */
background:-moz-radial-gradient(center,ellipse cover,rgba(252,236,252,1) 0%,rgba(253,137,215,1) 43%,rgba(251,166,225,1) 50%,rgba(255,124,216,1) 100%);/* FF3.6+ */
background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(252,236,252,1)),color-stop(43%,rgba(253,137,215,1)),color-stop(50%,rgba(251,166,225,1)),color-stop(100%,rgba(255,124,216,1)));/* Chrome,Safari4+ */
background:-webkit-radial-gradient(center,ellipse cover,rgba(252,236,252,1) 0%,rgba(253,137,215,1) 43%,rgba(251,166,225,1) 50%,rgba(255,124,216,1) 100%);/* Chrome10+,Safari5.1+ */
background:-o-radial-gradient(center,ellipse cover,rgba(252,236,252,1) 0%,rgba(253,137,215,1) 43%,rgba(251,166,225,1) 50%,rgba(255,124,216,1) 100%);/* Opera 12+ */
background:-ms-radial-gradient(center,ellipse cover,rgba(252,236,252,1) 0%,rgba(253,137,215,1) 43%,rgba(251,166,225,1) 50%,rgba(255,124,216,1) 100%);/* IE10+ */
background:radial-gradient(ellipse at center,rgba(252,236,252,1) 0%,rgba(253,137,215,1) 43%,rgba(251,166,225,1) 50%,rgba(255,124,216,1) 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc',endColorstr='#ff7cd8',GradientType=1 );/* IE6-9 fallback on horizontal gradient */
Color format:Comments}
#page10{background:rgb(169,228,247);/* Old browsers */
background:-moz-radial-gradient(center,ellipse cover,rgba(169,228,247,1) 0%,rgba(15,180,231,1) 18%,rgba(135,207,229,1) 76%);/* FF3.6+ */
background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(169,228,247,1)),color-stop(18%,rgba(15,180,231,1)),color-stop(76%,rgba(135,207,229,1)));/* Chrome,Safari4+ */
background:-webkit-radial-gradient(center,ellipse cover,rgba(169,228,247,1) 0%,rgba(15,180,231,1) 18%,rgba(135,207,229,1) 76%);/* Chrome10+,Safari5.1+ */
background:-o-radial-gradient(center,ellipse cover,rgba(169,228,247,1) 0%,rgba(15,180,231,1) 18%,rgba(135,207,229,1) 76%);/* Opera 12+ */
background:-ms-radial-gradient(center,ellipse cover,rgba(169,228,247,1) 0%,rgba(15,180,231,1) 18%,rgba(135,207,229,1) 76%);/* IE10+ */
background:radial-gradient(ellipse at center,rgba(169,228,247,1) 0%,rgba(15,180,231,1) 18%,rgba(135,207,229,1) 76%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7',endColorstr='#87cfe5',GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}
#round{position:fixed;right:5px;top:0;bottom:0;margin:auto;height:300px;width:30px;}
#round ul li{height:15px;width:15px;margin-top:15px;}
#round span{cursor:pointer;background-color:#cccccc;border-radius:10px;display:block;height:18px;width:18px;}
#round .active{background:#363533;cursor:pointer;border-radius:10px;display:block;height:18px;width:18px;}
.toTop{background:url("../images/units-icons.png") repeat scroll -67px 0 rgba(0,0,0,0);bottom:10px;height:50px;left:50%;margin-left:-20px;position:fixed;width:40px;z-index:9;cursor:pointer;}
/*公共页面-首页*/
/*page1页面 */
.pageImg{width:100%;height:100%;border-radius:50%;filter:alpha(opacity=90);-moz-opacity:0.9;opacity:0.9;}
.pageImg:hover{width:100%;height:100%;border-radius:50%;filter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;cursor:pointer;}
.wobble{-webkit-animation-name:hvr-wobble-vertical;animation-name:hvr-wobble-vertical;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:1;animation-iteration-count:1;}
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical{16.65%{-webkit-transform:translateY(8px);transform:translateY(20px);}
33.3%{-webkit-transform:translateY(-6px);transform:translateY(-10px);}
49.95%{-webkit-transform:translateY(4px);transform:translateY(10px);}
66.6%{-webkit-transform:translateY(-2px);transform:translateY(-2px);}
83.25%{-webkit-transform:translateY(1px);transform:translateY(5px);}
100%{-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes hvr-wobble-vertical{16.65%{-webkit-transform:translateY(8px);transform:translateY(20px);}
33.3%{-webkit-transform:translateY(-6px);transform:translateY(-10px);}
49.95%{-webkit-transform:translateY(4px);transform:translateY(10px);}
66.6%{-webkit-transform:translateY(-2px);transform:translateY(-2px);}
83.25%{-webkit-transform:translateY(1px);transform:translateY(5px);}
100%{-webkit-transform:translateY(0);transform:translateY(0);}
}
.toTop{background:url("../images/units-icons.png") repeat scroll -67px 0 rgba(0,0,0,0);bottom:10px;height:50px;left:50%;margin-left:-20px;position:fixed;width:40px;z-index:9;cursor:pointer;}
.wrap{position:absolute;bottom:50%;width:240px;height:200px;left:50%;margin-left:-120px;margin-bottom:-240px;color:#fff;font-family:Microsoft Yahei,helvetica;text-align:center}
.wrap .title{font-size:50px;margin:10px 0;cursor:pointer}
.wrap .content{font-size:25px;}
.wrap .content p{margin:0;padding:0;height:40px;}
.web_titles_main{display:block;height:155px;overflow:hidden;position:absolute;right:100px;text-align:center;line-height:20px;top:30px;width:172px;z-index:100;}
.web_title_box{background:url("../images/timer_bg.png") no-repeat scroll 0 0 rgba(0,0,0,0);cursor:move;height:155px;padding:21px 0 0 22px;position:absolute;right:0;text-align:center;width:152px;}
#messageBoardContainer{position:absolute;left:0;right:0;margin:auto 0;width:354px;height:0px;top:300px;overflow:hidden;z-index:5;}
#messageBoard{position:absolute;top:0;left0;width:354px;height:294px;}
#messageBoard .wrap{position:absolute;top:4px;left:124px;width:344px;height:284px;background:#ededed;border:1px solid #f2f2f2;z-index:2;}
#messageBoard .bg{position:absolute;top:0;left:0;width:354px;height:294px;background:#000000;filter:alpha(opacity=30);opacity:0.3;z-index:1;}
#messageBoard h2{height:24px;background:url(../images/messageBoard.gif) repeat-x 0 -24px;font-size:12px;font-weight:normal;color:#666;padding-left:10px;cursor:move;}
#messageBoard h2 span{line-height:18px;}
#messageBoard h2 a{position:absolute;top:5px;right:6px;width:11px;height:11px;overflow:hidden;background:url(../images/messageBoard.gif) no-repeat;}
#messageBoard h2 a:hover{background:url(../images/messageBoard.gif) no-repeat 0 -12px;}
#messageBoard .content{padding:8px 20px;font-size:20px;text-align:left;}
#messageBoard .content div{text-indent:24px;line-height:30px;color:#666666;}
#quirkyPopupShowBtn{position:absolute;top:0;right:0;width:35px;height:64px;background:url(../images/quirkyPopupShowBtn.gif) no-repeat;}
#quirkyPopupShowBtn:hover{background:url(../images/quirkyPopupShowBtn.gif) no-repeat 0 -70px;}
/*page1页面 */
/*page2页面 */
ul,li{margin:0;padding:0;}
.page2_content{position:absolute;top:60px;height:100%;width:100%;}
.page2_title{color:#fff;font-size:32px;font-family:Microsoft Yahei,helvetica;height:60px;line-height:60px;position:absolute;text-align:center;top:0;width:100%;}
.imgUl{position:relative;margin:5px auto;}
.imgUl li{float:left;list-style:none;margin:10px;z-index:1;}
.imgUl li:hover{cursor:move}
.imgUl li img{width:100%;height:100%;border-radius:10%;box-shadow:0 0 0 4px #fced00 inset,0 0 10px #06c;border:2px solid #fff}
.imgUl .active{box-shadow:0 0 0 4px #fced00 inset,0 0 10px #06c;border-radius:10%;}
.imgUl .active img{border:2px dashed red;}
/*page2页面 */
/*page3页面 */
.page3_title{font-size:80px;font-family:Microsoft Yahei,helvetica;color:#333333;width:400px;height:150px;line-height:100px;position:absolute;left:0;right:0;bottom:0;top:0;margin:auto;text-align:center;top:0;filter:alpha(opacity:30); opacity:0.3;}
#blogId{position:absolute;width:100%; height:90%;overflow:hidden; }
#blogId a{ position:absolute;color:#000;text-decoration:none;left:20px;display:block;border:solid 1px #000;background:#fff;filter:alpha(opacity:50);opacity:0.5; font-size:14px; padding:3px 5px; font-family:arial;}
#blogId a:hover {filter:alpha(opacity:100);opacity:1;font-weight:bold;font-size:16px;color:#FF00CC;border:solid 1px #000;box-shadow:0 0 10px 2px #06c;}
/*page3页面 */
/*page4页面 */
.page4_title{color:#fff;font-size:32px;font-family:Microsoft Yahei,helvetica;height:60px;line-height:60px;position:absolute;text-align:center;top:0;width:100%;}
#game_content{position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-250px;width:800px;height:500px;}
#game_head{
position:absolute;top:0;width:800px;height:50px;border-top-left-radius:20px;border-top-right-radius:20px;
background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(102,102,102,0.92) 63%, rgba(53,53,53,0.87) 99%, rgba(61,61,61,0.87) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(63%,rgba(102,102,102,0.92)), color-stop(99%,rgba(53,53,53,0.87)), color-stop(100%,rgba(61,61,61,0.87))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(102,102,102,0.92) 63%,rgba(53,53,53,0.87) 99%,rgba(61,61,61,0.87) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(102,102,102,0.92) 63%,rgba(53,53,53,0.87) 99%,rgba(61,61,61,0.87) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(102,102,102,0.92) 63%,rgba(53,53,53,0.87) 99%,rgba(61,61,61,0.87) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(102,102,102,0.92) 63%,rgba(53,53,53,0.87) 99%,rgba(61,61,61,0.87) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#de3d3d3d',GradientType=0 ); /* IE6-9 */}
#game_head ul,li{margin:0;padding:0;}
#game_head ul{position:absolute;left:50%;margin-left:-200px;width:400px;align:center;}
#game_head ul li{margin:10px 30px;;list-style:none;width:120px;height:30px;line-height:30px;background:#7C7C7C;border-radius:10px;color:#FFFFFF;text-align:center;float:left;}
#game_bg{position:absolute;bottom:0;width:800px;height:450px;background:#444444;}
#progress {position:absolute;width:100%;height:20px; background: url(../images/progress.jpg) no-repeat;background-size:800px 20px;bottom:0px; left:0;}
#progress span {width:100%; height:100%;position:absolute; left:0; top:0; background: url(../images/progress_span.jpg) no-repeat;background-size:800px 20px;}
#game_content .btn {width:85px;height:34px;background:url(../images/btn.gif) no-repeat;color:#000; font-family:"微软雅黑"; font-size:12px; border:none;}
#start{position:absolute;width:85px;height:34px;left:50%;margin-left:-40px;top:60%;z-index:99;cursor:pointer;}
#man{width:30px;height:30px;background: radial-gradient(circle at 30px 30px, #f85032, #e73827);border-radius:50%;position:absolute;display:none;z-index:100;}
#shadow{position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.8;filter:alpha(opacity=80);display:none; z-index:2000;}
#img_logo {position:absolute; left:87px; top:134px;}
.bullet {width:5px;height:5px;overflow:hidden;background:yellow;border-radius:50%;position:absolute;}
#game_over { position:absolute;top:50%;left:50%;width:400px;height:300px;margin-top:-150px;margin-left:-200px;display:none;z-index:2;}
#btn_pos{position:absolute;top:50%;left:50%;width:85px;height:34px;margin-left:-40px;}
#game_over img {display:block;}
/*page4页面 */